// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {color: #800000;
		text-decoration:underline}
#form {background-color: #99ffcc}
form {color:black;
			font-weight: bold;
			font-size: 15px;
			font-style: italic}
label {background-color: yellow}
textarea {background-color: #66FFCC}
input {background-color: #CCFF99;
		color: green;
		font-weight: bold}
