// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {color: red;
	 font: arial;
	 font-size: 30px}

td {color: blue}
p {color: #000066}